/********** Fixes **********/

* {
  margin:0;
  padding:0;
  border:0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
  line-height: 0;
}

.clear {
  clear: both;
}

/* Posititoning Classes */


#summer-grass {
  float: left;
  width: 66%;
  margin: 0 12px 12px 0;
  display: block;
}

#shoe-archive {
  float: right;
  width: 32%;
}

#lady-bugs {
  width: 31%;
  float: left;
  margin: 10px 10px 10px 0;
  display: inline;
}

#skaters {
  margin: 10px 10px 10px 10px;
  width: 31%;
  display: inline-block;
}

#bluestar-heels {
  margin: 10px;
  width: 30%;
  display: inline-block;
}

#contact {
  display: inline-block;
  width: 31%;
  margin: 1%;
}

#links {
  display: inline-block;
  width: 31%;
  margin: 1%;
}

.follow {
  display: inline-block;
  width: 31%;
  float: right;
  margin: 1%;
}
